{{ if gt (len .Alerts.Firing) 0 -}}
出现异常
{{- range .Alerts.Firing }}
- {{ .Annotations.description }}
{{- end }}
{{ end -}}
{{ if gt (len .Alerts.Resolved) 0 -}}
异常恢复
{{- range .Alerts.Resolved }}
- {{ .Annotations.description }}
{{- end }}
{{- end }}